.Calls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin-top: 5px;
}

.Counter-title {
    align-content: center;
}

.TotalCalls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EAEDED;
    border-radius: 10px;
    border: 2px solid black;
    height: 100px;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.Main-Calls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6DBDF;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.Daily-calls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 5px;
    height: 100%;
}

.Buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.increase {
    background-color: #58D68D;
    height: 60px;
    width: 60px;
    font-size: 3rem;
    border-radius: 10%;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.increase:hover {
    background-color: lightgreen;
}

.decrease {
    background-color: #58D68D;
    height: 60px;
    width: 60px;
    font-size: 3rem;
    border-radius: 10%;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.decrease:hover {
    background-color: lightgreen;
}

.Weekly-total-calls {
    font-size: 4rem;
    margin: 0px 0px;
}

.Weekly-title {
    font-size: 1.2rem;
    margin: 5px 0px;
}

.Daily-calls {
    font-size: 14rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Total-calls-title {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.Weekly-Calls-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    width: 50%;
    height: auto;
    margin-bottom: 4px;
}

@media only screen and (max-width: 900px) {
    
    .increase {
        height:60px;
        width:60px;
    }
    
    .decrease {
        height:60px;
        width:60px;
    }

    .TotalCalls-container {
        width: 140px;
    }
}