.Settings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    margin-top: 50px;
}


/* Form CSS*/
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

.Name-input {
    width: 90%;
    height: 1.5rem;
}

input {
    margin: .4rem;
}

.rename {
    width: 90%;
    height: 1.5rem;
}

/* TSF Button Style */

.TSF-Settings-button {
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
    font-family: "Proxima Nova";
    background-color: #85C1E9;
    border: 1px solid black;
    border-radius: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.TSF-Settings-button:hover {
    background-color: #239B56; 
    color: white;
}