.User-Page-Main-Container {
    height: 90vh;
}

.User-Topbar-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5D6D7E;
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 5px 3px 10px #6d6a6a;
}

.Gravatar {
    border-radius: 1rem;
}

.Export-Btn {
    height: 3rem;
    width: 8rem;
    background-color: lightgreen;
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
}

.Export-Btn:hover {
    background-color: #239B56;
    color: white;
    border: 1px solid white;
}

.User-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    min-height: 100%;
    width: 90vw;
}

.Main-Metrics-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
}

.TSF-logo-SM {
    height:100px;
    border-radius: 100%;
    margin-top:10px;
}

.Username-Title {
    font-size: 2rem;
    color: white;
}

@media only screen and (max-width: 900px) {
    .User-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}