
.Calls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100%;
    width: 100%;
}

.Metrics-container {
    background-color: orange;
    height: 100%;
    width: 100%;
}

.TotalCalls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3c82e;
    height: 100px;
    width: 200px;
}

.Buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.increase {
    background-color: green;
    height: 100px;
    width: 100px;
    font-size: 3rem;
}

.decrease {
    background-color: red;
    height: 100px;
    width: 100px;
    font-size: 3rem;
}

.Weekly-total-calls {
    font-size: 4rem;
    margin: 0px 0px;
}

.Weekly-title {
    font-size: 1.5rem;
    margin: 0px 0px;
}

.Daily-calls {
    font-size: 15rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Total-calls-title {
    margin-top: 0;
    margin-bottom: 0;
}

.Username-title {
    font-size:3rem;
}