.Dashboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: orange;
    height: 100vh;
    width: 100vw;
}

.Dashboard-Metrics-container {
    height: 85vh;
    width: 98vw;
    border: 2px solid white;
    background-color: rgba(0, 0, 255, 0.3);
    z-index: 1;
    position: fixed;
    top: 60px;
}

.Event-Topbar {
    position: absolute;
    top: 0px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.TSF-logo {
    height: 100vh;
}

.Dash-Metrics-Title {
    font-size: 1rem;
    
}

.Dash-Metrics-Title-Name {
    font-size: 1.2rem;
    width: 200px;
}

.User-Row-Heading-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    background-color: #85C1E9;
    border: 1px solid black;
    padding: 0px 10px 0px 30px;
}
