.User-Row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,255,0.7);
    border: 1px solid black;
    padding: 0px 100px 0px 20px;
}

.Test-User {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
}

.Test-UserName {
    font-size: 1.5rem;
    width: 180px;
    color: white;
    margin: 0;
    padding: 0;
}