.Main-container1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f3c82e;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px 5px;
}


.Metrics-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3c82e;
    border-radius: 10px;
}


.TotalCalls-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 30px;
    width: 30px;
}

.Buttons-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.increase1 {
    background-color: green;
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

.decrease1 {
    background-color: red;
    height: 30px;
    width: 30px;
    font-size: 1rem;
}

.Weekly-total-calls1 {
    font-size: 1rem;
}

.Daily-calls1 {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.Total-calls-title1 {
    margin-top: 0;
    margin-bottom: 0;
}

.Username-title1 {
    font-size:1rem;
}