.Metrics-Main-Container {
    height: 80vh;
}

.User-Topbar-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f3c82e;
    border-radius: 1rem;
}

.Export-Btn {
    height: 3rem;
    width: 8rem;
    background-color: lightgreen;
    font-size: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
}

.Export-Btn:hover {
    background-color: #239B56;
    color: white;
    border: 1px solid white;
}

.User-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid #85C1E9;
    min-height: 100%;
    width: 80vw;
}

.Metrics-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75%;
    width: 100%;
}

.TSF-logo-SM {
    height:100px;
    border-radius: 100%;
    margin-top:10px;
}

.Username-title {
    font-size: 1.2rem;
}

@media only screen and (max-width: 900px) {
    .User-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}