.Metrics-Main-Container {
    height: 80vh;
}

.User-Topbar-container {
    display: flex;
    justify-content: center;
    background-color: #f3c82e;
}

.User-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid orange;
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 80vw;
}


.Metrics-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75%;
    width: 100%;
}

.TSF-logo-SM {
    height:100px;
    border-radius: 100%;
    margin-right: 60px;
    margin-top:10px;
}

.Username-title {
    font-size:2rem;
}