.User-Topbar-container {
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.User-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid orange;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 80vw;
}

.Calls-container {
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
}

.Metrics-container {
    background-color: lightseagreen;
    height: 100%;
    width: 100%;
}

.TotalCalls-container {
    background-color: red;
    height: 200px;
    width: 200px;
}

.TSF-logo {
    height: 200px;
}